<!DOCTYPE HTML>
<html lang ="en">
    <style>
.btn-group button {
  background-color: #212f3d ; /* Green background */
  border: 1px  solid  #d6dbdf   ; /* Green border */
  color: white; /* White text */
  font-size: 100%;
  padding: 10px 20px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float:right; /* Float the buttons side by side */
}
.btn-group button:hover {
  background-color: #34495e   ;
}

</style>
    
    <head>
        <title>Clinical Search</title>
        <meta charset = "UTF-8-SIG"/>
    </head>
    <body  style="background-color: #eaeded ; font-family:sans-serif" >
        <h2>Diseases and Symptoms Search</h2>
        <br>
        <br>
         <form>
            <fieldset>
                <legend style="font-size: 100%">Search a Disease </legend>
                <form>
                <label>Disease name: </label>
                <input type="text" name="diseasename" /> 
                <button type="submit" formaction="{{ url_for('diseaseInfo') }}">Search</button>
                </form>
                <br>
                 <form>
                <label>Disease DOID: </label>
                <input type="text" name="doid" /> 
                <button type="submit" formaction="{{ url_for('diseaseInfo') }}">Search</button>
                </form>
            </fieldset>
         </form>

        <br>
             <form>
            <fieldset>
                <legend style="font-size: 100%">Search a Symptom</legend>
                <form>
                <label>Symptom name: </label>
                <input type="text" name="symptomname" /> 
                <button type="submit" formaction="{{ url_for('symptomInfo') }}">Search</button>    
                </form>
                 <br>
                <form>
                <label>Symptom HPO: </label>
                <input type="text" name="hpo" /> 
                <button type="submit" formaction="{{ url_for('symptomInfo') }}">Search</button>
                </form>
            </fieldset>
        </form>
        
             <form>
        
               <div class="btn-group" style="width:100%">
               <button  type="submit" formaction="{{ url_for('index') }}" style="width:10%">Back</button>
               </div>
             </form>
        
        <table>
            <tr>
                <th></th>
            </tr>
        </table>
       
  
    </body>

    
    
</html>